.navSection{
    position: fixed;
    top: 0;
    right:0;
    left:0;
    height:60px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    .navLink{
        height:100%;
        width:200px;
        color:red;
        display:flex;
        justify-content: center;
        align-items: center;

        > a{
            font-size: 22px;
            text-decoration: none;
        }
    }
}